@charset "utf-8";
/* CSS Document */

.menudiv-icon{
	display:none;
}
.desktopknone-mobiletext{
	 color: #ffffff;
    float: left;
    font-size: 10px;
    padding-top: 3px;
    text-transform: uppercase;
}
.desktopknone-mobiletext sub{
	font-size: 18px;
    font-weight: bold;
    margin-left: 6px;
    vertical-align: top;
	
}
.desktopknone-mobiletext sup{
	vertical-align:top;
}
.singupcheckboxouter{
	width:100%;
	text-align:center;
}
.desktop-show{
	display:block;
}
.responsive-show{
	display:none;
}
.herobgnone{
	background:none !important;
	position:relative;
	height:inherit !important;
}
.boxsubtopimg{
	width: 253px; float: left;
}
.boxSub2textouter{
float: left; width: 253px; padding-top: 10px;
}
.heroheadrnone{
	display:none;
}
.contanctus-namebadesouter{
	width: 739px; text-align: center; vertical-align:top;
}
.contactusaddress-imgouter{
	width: 739px;
}
.contactusaddress-outer{
	width: 315px; float: left; clear: both; margin-top: 35px;
}
.contactusaddress-first{
	width: 315px; float: left; clear: both;
	margin-top:20px;
}
.contactusaddress-first:first-child{
	margin-top:0px;
}
.contactusmapouter{
	width: 420px; float: right; margin-top: 35px; text-align: right;
}
.contactusmapbuttomimg{
	clear: both; text-align: center; width: 739px;
}
.b-all-rightdiv{
	width:570px;
	float:right;
}
.contactaddress-right{
	float: right; width: 195px;
}
.headergraybuttonouter{
	float: left;margin-left: 10px;
	padding-top:5px;
}
.printed-name-badges-content{
	width: 960px; padding: 5px 0 20px 0; background-color: #fff4d6; text-align: center; float: left;
}
.printed-name-badges-topimg{
	width: 959px;
	height:246px;
}
.printed-name-badges-left{
	float: left; width: 480px;
}
.printed-name-badges-right{
	float: right; width: 480px;
}
.printed-name-badges-table{
	width:960px;
}
.printed-name-badges-fasterimg{
	width:904px;
	height:128px;
	
}
.printed-name-badges-bottomdiv{
	width: 960px; padding: 5px 0 20px 0; background-color: #fff4d6; text-align: center; float: left;
}
.printed-name-badges-table-outer{
	width:960px;
}
.pin-cahtwith-text{
	font-weight: bold; font-size: 20px;
}
#loginButton.active span{
	background-position: 100px -77px;
}
.pinclikhear-button-outer{
	padding:0px;margin:0px;width:auto;
}
.reusable-name-topimg{
	width:960px;
	height:359px;
}
.photoid-badges-topimg{
	width:960px;
	height:237px;
}
.photoid-attachmentimg{
	width:908px;
	height:176px;
}
.custom-lanyards-content{
	width: 960px; padding: 5px 0 0px 0; background-color: #fff4d6; text-align: center; float: left;
}
.order-table-outer{
	width:454px;
	float:left;
}
#navigationBottomRight {
    float: right;
    width: 320px;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}
.header-activated-button{
	position:absolute;
	top:90px;
	right:0;
}
#heroButton{
	margin-top:0px;
}
.tesimonials-leftbgouter{
	width:100%;
	
}
.customerpanel2-fullcolorouterdiv{
	text-align: left; line-height: 30px; margin-top:5px; margin-bottom: 5px; padding-left: 20px;
}
.customerpanel2-radiooutre{
	float: left; padding-left: 25px;
}
.customerpanel5-boxusb{
	width: 350px; margin: auto; border: none;
}
.boxSub,.boxHeader{
	float:left;
}
.logo-upload-text{
	margin:20px 0px;
}
.order-radio-righttext{
	width:90%;
	float:left;
	
}
.order-radio2{
	line-height: 20px;padding-top:5px;height:24px;
}
.qq-upload-button{
	position:absolute !important;
	left:inherit !important ;
	right:2px !important;
}

@media (min-width : 1024px) and (max-width : 1200px){
}
@media  (min-width : 768px) and (max-width : 1023px){
*{
	box-sizing:border-box;
}
#wrapper{
	padding:0px 15px;
	width:750px;
}
#footer{
	padding-left:0px;
	padding-right:0px;
}
#header,#topBar,#headerBar,#topBar ul{
	width:100%;
}
#subFooter,#subFooterMain,#footer #subFooter #footerMenu,#footerCopyright,#subFooterMain2,#subFooterMain3{
	width:100%;
}
#subFooterLeft{
	width:270px;
	height:inherit;
}	
#subFooterMiddle{
	width:170px;
	border:none;
}
#subFooterRight{
	width:240px;
	border-left: 1px solid #e4e4e4;
	min-height:148px;
}
#subFooterLeft h5{
	font-size:17px;
}
#subFooterMain2,#subFooterMain3{
	background-image:none;
}
#subFooterMain{
	background-image:none;
	background:#fff;
	border:2px solid #ddd;
	border-radius:10px;
}
#content,#mainContentFull{
	width:100%;
}
#signUpLeft{
	width:48%;
}
#signUpRight{
	width:50% !important;
}
#signUpRight img{
	max-width:100%;
}
.signUpFieldRight{
	width:217px !important;
	padding-right:10px;
}
#navigationWrapper{
	width:68%;
	border-radius: 14px;
}
#navigationTop{
	width:100%;
}
#navigationBottom{
	width:100%;
}
#navigationTop ul li a{
	padding:0px 10px;
}
#navigationBottomLeft{
	width:50%;
	padding-left:13px;
}
#container{
	width:auto;
}
#copyrightRight{
	width:35%;
}
#navigationBottomRight{
	width: 50% !important;
}
#subFooterLeft form #signup_email{
	width:100%;
	background-image:none;
	border:2px solid #ddd;
	border-radius:12px;
}
#subFooterLeft form #subscribe_button{
	margin-left:0px;
}
.signupFieldInput{
	width:100%;
}
.signupFieldInput{
	height:20px;
	width:100% !important;
	border-radius:0px;
	border:1px solid #ddd;
}
.signUpFieldRight select{
	width:100%;
	border-radius:0px;
	border:1px solid #ddd;
}
#subFooter{
	width:750px;
	padding:0px 15px;
}
#hero{
	width:100%;
}
#hero img{
	max-width:100%;
}

#mainContent{
	width:86%;
}
.box-products{
	width:640px;
}
.orderBox{
	width:302px;
	margin-right:13px !important; 
}
.boxSub{
	height:inherit !important;
}
.boxSub img {
	max-width:100%;
}
.testimonials ul{
	width:100%;
}
.testimonials ul li{
	width:49%;
	height:inherit;
	background-image:none;
	border-radius:10px;
	border:2px solid #ddd;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+40,f9f9f9+48,f1eff0+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 40%, rgba(249,249,249,1) 48%, rgba(241,239,240,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1eff0',GradientType=0 ); /* IE6-9 */

}
.slider, #slider, .slider dt, .slider span{
	width:100%;
}
.slider dt{
	background-size:100%;
}
.orderBox:nth-child(even){
	margin-right:0px;
}
.testimonials ul li:nth-child(even){
	margin-right:0px;
}
.subright{
	width:520px;
	padding-right:0px;
}
.subright img{
	max-width:100%;
	height:inherit;
}
.productsContainer-right{
	width:280px;
}
h2{
	font-size:20px;
}
.contanctus-namebadesouter,.contactusaddress-imgouter{
	width:100%;
}
.contactusaddress-outer,.contactusmapouter{
	width:45%;
}
.contactusmapbuttomimg{
	width:100%;
}
.contactusmapouter{
	text-align:center;
}
.boxsubtopimg{
	width:100%;
	text-align:center;
}
.productsContainer-right p,ul.top-list li{
	text-align:justify;
}
.subright p,.what-bestme p{
	text-align:justify;
}
.printed-name-badges-topimg,.printed-name-badges-fasterimg,.reusable-name-topimg,.photoid-badges-topimg,.photoid-attachmentimg{
	max-width:100%;
	height:inherit;
}
.printed-name-badges-content,.custom-lanyards-content{
	width:100%;
}
.printed-name-badges-left,.printed-name-badges-right{
	width:50%;
}
.printed-name-badges-table-outer{
	width:100%;
	overflow:auto;
	border:1px solid #ddd;
	margin:20px 0px;
}
.printed-name-badges-bottomdiv{
	width:100%;
}
.printend-badges-maindiv p{
	text-align:justify;
}
.printed-name-badges-left p,.printed-name-badges-right p{
	text-align:center;
}
.pin-cahtwith-text{
	text-align:center !important;
	min-height:62px; 
}
.custom-lanyards-main img{
	max-width:100%;
	height:inherit;
}
.reusable-topboxdiv p{
	text-align:center !important;
}
#logoBox{
	width:100% !important;
}
#addNamesLeft{
	width:48%;
}
#addNamesRight{
	
	width:48%;
}
.order-table-outer{
	 border: 1px solid #dddddd;
    overflow: auto;
    width: 100%;
}
.headergraybuttonouter{
	display:none;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#testimonialsContainer{
	width:275px;
}
.b-all-rightdiv{
	width:420px;
	
}
#testimonials{
	width:100%;
}
#testimonialsContainer2{
	width:100%;
	padding:20px;
	background-image:none;
}
#testimonialsTop,.testimonialsMain{
	width:100%;
}
.testQuote1{
	width:100%;
}
.testQuote2{
	width:100%;
}
.testimonialsMain{
	padding-left:10px;
	padding-right:10px;
	background-image:none;
	
}
#testimonialsTop{
	background-image:none;
	border-radius:10px 10px 0px 0px;
	
}
#testimonialsBottom{
	background-image:none;
	border-radius:0px 0px 10px 10px;
	
	width:100%;
}
#clients{
	width:100%;
	text-align:center;
}
#clients img{
	max-width:100%;
	height:inherit
}
.testP{
	text-align:justify
}
.tesimonials-leftbgouter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aa0bd+0,7aa0bd+35,7aa0bd+45,6c91ad+100 */
background: rgb(122,160,189); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,160,189,1) 0%, rgba(122,160,189,1) 35%, rgba(122,160,189,1) 45%, rgba(108,145,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa0bd', endColorstr='#6c91ad',GradientType=0 ); /* IE6-9 */
  border-radius:10px ;
  margin-top:10px;
}
#testimonialsContainer{
	 border-radius:10px ;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#497da5+0,497da5+41,497da5+56,19496e+100 */
background: rgb(73,125,165); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(73,125,165,1) 0%, rgba(73,125,165,1) 41%, rgba(73,125,165,1) 56%, rgba(25,73,110,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497da5', endColorstr='#19496e',GradientType=0 ); /* IE6-9 */


}
#testimonialsContainer h3{
	text-align:center;
}
.b-all-rightdiv p{
	text-align:justify;
}
.header-activated-button{
	top:62px;
}
.signUpFieldRight{
	height:inherit !important;
}
.customerpanel2-fullcolorouterdiv{
	padding-left:10px ;
	padding-right:10px;
	line-height:22px;
	
}
.customerpanel2-fullcolorouterdiv h4{
	font-size:10px !important;
 }
.coustmpanel2-rightdiv input{
	width:79% !important;
}
.signUpFieldLeft{
	width:125px !important;
}
.customerpanel2-name-left{
	width:48% !important;
	font-size:9px;
}
.customerpanel2-radiooutre {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
.customerpanel2-radiooutre img{
	max-width:100%;
	height:inherit;
}
.customerpanel5-boxusb{
	width:100%;
}
.customerpanel5-boxusb #imageshow{
	width:100% !important;
}
.customerpanel2-name-right{
	width:85px !important;
}
.customerpanel2-name-right > table {
    display: inline;
}
#mainContentFull .logobox-responsive{
	width:48% !important;
}
.logo-input{
	border:none;
}
.logobox-responsive .signUpFieldRight{
	height:30px !important;
}
.magnetice-content p{
	text-align:justify;
}
.order2-designlabel,.order2-designlabel .signUpFieldLeft{
	height:80px !important;
}
.order2-designlabel2,.order2-designlabel2 .signUpFieldLeft{
	height:50px !important;
}
.order-radio-righttext{
	width:88%;
}
.order-complete-engraved-browse-outer{
	padding-right:0px;
}
.res-what-this-text{
	width:100%;
	padding-left:7px;
	float:left;
}
.signUpFieldRight textarea{
	width:100% !important;
}
.order-engraved-label-height{
	height:60px;
}
.order-engraved-label-shipping{
	height:100px !important;
}
.order-engraved-orders-text{
	line-height:16px;
	float:left;
	padding-left:7px;
}

}
@media only screen and (max-width : 767px) {
*{
	box-sizing:border-box;
}	
#wrapper{
	padding:0px 15px;
}	
#footer{
	padding-left:15px;
	padding-right:15px;
}
#wrapper,#header,#topBar,#headerBar,#topBar ul{
	width:100%;
}
#headerBarLeft {
    float: left;
    height: 67px;
    text-align: center;
    width: 100%;
	margin:10px 0px;
}
#navigationWrapper,#navigationTop,#navigationBottom{
	width:100%;
}	
#navigationBottomLeft{
	width:50%;
	padding:6px 0px 0px 10px;
	text-align:left;
}
#content,#mainContentFull,#signUpLeft,#signUpRight,.signUpFieldLeft,.signUpFieldRight{
	width:100% !important;
}
#signUpRight img{
	max-width:100%;
	margin-top:0px !important;
}
#subFooter,#subFooterMain,#subFooterMain2,#subFooterMain3,#subFooterLeft,#subFooterMiddle,#subFooterRight{
	width:100%;
	height:inherit;
	padding-right:0px;
	border-right:none;
}
#footer #subFooter #footerMenu{
	width:100%;
}
#footerCopyright{
	width:100%;
}
#copyrightLeft{
	width:100%;
	text-align:center;
}
#copyrightRight{
	width:100%;
	text-align:center;
}
#topBar ul li{
	float:none;
	display:inline-block;
}
#topBar{
	text-align:center;
}
#headerBar,#navigationWrapper,#navigationTop,#navigationBottom{
	height:inherit
}
#navigationTop ul li a{
	background:none;
}
#navigationTop ul li{
	width:100%;
}
.menudiv-icon{
	 background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    float: right;
    margin: 10px;
	cursor:pointer;
    padding: 5px;
}
#navigationWrapper{
	background-image:none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#487ca4+0,44779f+36,44779f+41,39688e+100 */
background: rgb(72,124,164); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(72,124,164,1) 0%, rgba(68,119,159,1) 36%, rgba(68,119,159,1) 41%, rgba(57,104,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(72,124,164,1) 0%,rgba(68,119,159,1) 36%,rgba(68,119,159,1) 41%,rgba(57,104,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(72,124,164,1) 0%,rgba(68,119,159,1) 36%,rgba(68,119,159,1) 41%,rgba(57,104,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#487ca4', endColorstr='#39688e',GradientType=0 ); /* IE6-9 */

	border-radius:10px;
}
#navigationTop{
	border-top:1px solid #fff;
	display:none;
}
.icon-bar {
    background: #808080 none repeat scroll 0 0;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 22px;
}
.res-hide{
	display:none;
}
.desktopknone-mobiletext{
	display:inline-block;
	color:#fff;
	text-transform: uppercase;
	font-size:10px;
	padding-top:1px;
}
.desktopknone-mobiletext sub{
	font-size: 15px;
    font-weight: bold;
    margin-left: 6px;
    vertical-align: top;
	
}
#loginButton span{
	padding-right:25px;
}
#navigationBottomRight {
    width: 50% !important;
}

#subFooterMain{
	background-image:none;
	background:#fff;
	border-radius:10px;
	border:2px solid #ddd;
}
#subFooterMain2,#subFooterMain3{
	background-image:none;
}
#subFooterMain3{
	padding:15px;
}
#subFooterLeft form #signup_email{
	width:100%;
	background-image:none;
	border:2px solid #ddd;
	border-radius:12px;
}
#subFooterLeft{
	text-align:center;
}
#subFooterLeft form #subscribe_button{
	float:none;
	margin-left:0px;
}
#subFooterMiddle{
	padding-left:0px;
	padding-top:10px; 
	padding-bottom:10px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin:10px 0px;
}
#subFooterRight{
	padding-left:0px;
	text-align:center;
}
.signUpField,div.signUpField:hover{
	/*background:#f5f6e7;*/
}
.boxHeader{
	float:left;
	
}
.signUpField + .boxHeader{
	margin-top:15px;
}
.signUpFieldRight{
	padding-right:10px;
}
.signupFieldInput{
	width:100% !important;
}
.signUpFieldRight select{
	width:100%;
	border-radius:0px;
	border:1px solid #ddd;
}
.signUpRight img{
	margin-top:0px;
}
#container{
	width:inherit;
}
#footerMenu{
	text-align:center;
}
#footerMenu li{
	float:none !important;
	display:inline-block !important;
}
#footerMenu li a{
	margin-left:5px !important;
	margin-right:5px !important; 
}

#subFooterRight #footerListRight{
	width:100%;
}

#subFooterRight #footerListLeft{
	width:100%;
}
#signUpLeft{
	margin-top:0px;
}
#signUpRight{
	text-align:center;
}
.signupFieldInput{
	height:20px;
	border-radius:0px;
	border:1px solid #ddd;
}
#navigationBottom{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b1b1b1+0,a6a6a6+50,a6a6a6+53,949494+100 */
background: rgb(177,177,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(177,177,177,1) 0%, rgba(166,166,166,1) 50%, rgba(166,166,166,1) 53%, rgba(148,148,148,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(177,177,177,1) 0%,rgba(166,166,166,1) 50%,rgba(166,166,166,1) 53%,rgba(148,148,148,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(177,177,177,1) 0%,rgba(166,166,166,1) 50%,rgba(166,166,166,1) 53%,rgba(148,148,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b1b1', endColorstr='#949494',GradientType=0 ); /* IE6-9 */

	border-radius:0px 0px 10px 10px;
	 padding: 5px 0;
}
.desktop-show{
	display:none;
}
.responsive-show{
	display:block;
}
#topBar{
	height:32px;
}
#mainContentFull{
	margin-bottom:0px;
}
#topBar ul li{
	padding-left:2px;
	padding-right:2px;
}
.signUpFieldLeft{
	border-right:none;
}
#hero{
	width:100%;
}
#hero img{
	max-width:100%;
}
#leftColumn{
	width:100%;
}
#mainContent,.box-products{
	width:100%;
}
.orderBox{
	width:100% !important;
	margin-right:0px;
}
.boxSub{
	text-align:center;
	height:inherit !important;
}
.testimonials ul{
	width:100%;
}
.testimonials ul li{
	width:100%;
	height:inherit;
	background-image:none;
	border-radius:10px;
	border:2px solid #ddd;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f9f9+40,f9f9f9+48,f1eff0+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 40%, rgba(249,249,249,1) 48%, rgba(241,239,240,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 40%,rgba(249,249,249,1) 48%,rgba(241,239,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1eff0',GradientType=0 ); /* IE6-9 */

}
.slider dt{
	background-image:url(../images/sevenReasonsButton-mobiel.png);
	background-size:100%;
	height:38px;
	width:464px;
	display:inline-block;
}
.slider .open {
    background-image: url(../images/sevenReasonsButtonMinus-mobile.png);
	background-size:100%;
	width:464px;
}
 #slider,.slider{
	width:100%;
	text-align:center;
}
.slider span{
	width:100%;
	text-align:left;
	
}
ul.top-list li{
	padding-left:0px;
}
.boxsubtopimg{
	width:100%;
	text-align:center;
}
.boxSub2textouter{
	width:100%;
	text-align:center;
}
.boxSub2textouter ul{
	padding-left:0px;
}
.subleft{
	width:100%;
}
.subpage-nav h3{
	background-image:none;
	border-radius:10px 10px 0px 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43769d+0,3e6f94+45,3e6f94+48,3a6a8e+100 */
background: rgb(67,118,157); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(67,118,157,1) 0%, rgba(62,111,148,1) 45%, rgba(62,111,148,1) 48%, rgba(58,106,142,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(67,118,157,1) 0%,rgba(62,111,148,1) 45%,rgba(62,111,148,1) 48%,rgba(58,106,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(67,118,157,1) 0%,rgba(62,111,148,1) 45%,rgba(62,111,148,1) 48%,rgba(58,106,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43769d', endColorstr='#3a6a8e',GradientType=0 ); /* IE6-9 */

}
.clb{
	text-align:center;
}
.subright{
	width:100%;
	padding-right:0px;
	padding-bottom:0px;
}
.subright img{
	max-width:100%;
	height:inherit
}
.graydiv-imgnone img{
	display:none;
}
.subpage-nav{
	padding-bottom:15px;
}
h2{
	font-size:18px;
}
.need-fast{
	padding-top:10px;
}
.productsContainer-right{
	width:100%;
	text-align:center;
}
.productsContainer-Left{
	width:100%;
	text-align:center;
}
.contanctus-namebadesouter,.contactusaddress-imgouter{
	width:100%;
}
.contactusaddress-outer,.contactusmapouter,.contactusmapbuttomimg{
	width:100%;
}
.contactusmapouter{
	text-align:center;
}
.contactusaddress-first{
	width:100%;
}
.contactaddress-right{
	float:left;
}
ul.left-seeus,.left-h-t{
	display:none;
}
.desktopknone-mobiletext sup{
	font-size:14px;
}
.productsContainer-right p,ul.top-list li{
	text-align:justify;
}
.subright p,.what-bestme p{
	text-align:justify;
}
#navigationTop ul li a{
	padding:0px 10px;
}
.slider span{
	padding-top:0px;
}
.printed-name-badges-topimg,.printed-name-badges-fasterimg,.reusable-name-topimg,.photoid-badges-topimg,.photoid-attachmentimg{
	max-width:100%;
	height:inherit;
}
.printed-name-badges-content,.custom-lanyards-content{
	width:100%;
}
.printed-name-badges-left,.printed-name-badges-right{
	width:100%;
	padding:0px 10px;
}
.printed-name-badges-table-outer{
	width:100%;
	overflow:auto;
	border:1px solid #ddd;
	margin:20px 0px;
}
.printed-name-badges-bottomdiv{
	width:100%;
}
.printend-badges-maindiv p{
	text-align:justify;
}
.printed-name-badges-left p,.printed-name-badges-right p{
	text-align:center;
}
.reusable-topboxdiv{
	padding-left:10px;
	padding-right:10px;
}
.pin-cahtwith-text{
	text-align:center !important; 
}
.custom-lanyards-main img{
	max-width:100%;
	height:inherit;
}
#logoBox{
	width:100% !important;
}
#addNamesLeft{
	width:100%;
}
#addNamesRight{
	margin-top:10px;
	width:100%;
}
.order-table-outer{
	 border: 1px solid #dddddd;
    margin: 20px 0;
    overflow: auto;
    width: 100%;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.headergraybuttonouter{
	display:none;
}
#testimonialsContainer{
	width:100%;
}
.b-all-rightdiv{
	width:100%;
	margin-top:20px;
}
#testimonials{
	width:100%;
}
#testimonialsContainer2{
	width:100%;
	padding:20px;
	background-image:none;
}
#testimonialsTop,.testimonialsMain{
	width:100%;
}
.testQuote1{
	width:100%;
}
.testQuote2{
	width:100%;
}
.testimonialsMain{
	padding-left:10px;
	padding-right:10px;
	background-image:none;
	
}
#testimonialsTop{
	background-image:none;
	border-radius:10px 10px 0px 0px;
	
}
#testimonialsBottom{
	background-image:none;
	border-radius:0px 0px 10px 10px;
	
	width:100%;
}
#clients{
	width:100%;
	text-align:center;
}
#clients img{
	max-width:100%;
	height:inherit
}
.testP{
	text-align:justify
}
.tesimonials-leftbgouter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aa0bd+0,7aa0bd+35,7aa0bd+45,6c91ad+100 */
background: rgb(122,160,189); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,160,189,1) 0%, rgba(122,160,189,1) 35%, rgba(122,160,189,1) 45%, rgba(108,145,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,160,189,1) 0%,rgba(122,160,189,1) 35%,rgba(122,160,189,1) 45%,rgba(108,145,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aa0bd', endColorstr='#6c91ad',GradientType=0 ); /* IE6-9 */
  border-radius:10px ;
  margin-top:10px;
}
#testimonialsContainer{
	 border-radius:10px ;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#497da5+0,497da5+41,497da5+56,19496e+100 */
background: rgb(73,125,165); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(73,125,165,1) 0%, rgba(73,125,165,1) 41%, rgba(73,125,165,1) 56%, rgba(25,73,110,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(73,125,165,1) 0%,rgba(73,125,165,1) 41%,rgba(73,125,165,1) 56%,rgba(25,73,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497da5', endColorstr='#19496e',GradientType=0 ); /* IE6-9 */


}
#testimonialsContainer h3{
	text-align:center;
}
.b-all-rightdiv p{
	text-align:justify;
}
.header-activated-button{
	top:52px;
}
.need-fast{
	width:100% !important;
	margin-bottom:20px;
}
#testimonials{
	text-align:center;
}
.signUpFieldRight{
	height:inherit !important;
}
.customerpanel2-name-left{
	width:50% !important;
}
.customerpanel2-fullcolorouterdiv{
	padding-left:10px ;
	padding-right:10px;
	line-height:26px;
}
.customerpanel2-radiooutre{
	float:none;
	display:inline-block;
	padding-left:0px;
}
.customerpanel5-boxusb{
	width:100%;
}
.customerpanel5-boxusb #imageshow{
	width:100% !important;
}
.logo-input{
	border:none;
}
.magnetice-content p{
	text-align:justify;
}
.order2-designlabel,.order2-designlabel .signUpFieldLeft{
	height:inherit !important;
}
.order-complete-engraved-browse-outer{
	float: left;
    height: 30px !important;
    padding-right: 0;
    width: 100%;
}
.signUpFieldRight textarea{
	width:100% !important;
}
.order-engraved-orders-text{
	line-height:16px;
	float:left;
	padding-left:10px;
}
.signUpFieldLeft{
	height:inherit !important;
}
}
@media only screen and (max-width : 480px){
	.slider dt{
	background-image:url(../images/sevenReasonsButton-mobiel.png);
	background-size:100%;
	height:35px;
	width:100%;
	display:inline-block;
}
.slider .open {
    background-image: url(../images/sevenReasonsButtonMinus-mobile.png);
	background-size:100%;
	width:100%;
}
.header-activated-button{
	width:auto !important;
	top:37px;
}
.header-activated-button img{
	width:130px;
	height:inherit;
}
}
@media only screen and (max-width : 479px) {
 #footerMenu li a{
	 margin-left:2px !important;
	 margin-right:1px !important;
}
.contactaddress-right{
	width:175px;
}
.desktopknone-mobiletext sub{
	font-size:13px;
}
.desktopknone-mobiletext sup{
	font-size:12px;
}
.contanctus-namebadesouter img{
	width:49%;
	display:inline-block;
}
.headergraybuttonouter{
	margin-left:2px;
	
	float:left;
}
#navigationBottomLeft{
	width:50%;
	padding: 6px 0 0 6px;
}
.print_order_submit img,.photo_order_submit img,.pinclikhear-button-outer img,.engraved_order_submit img,.reusable_name_submit img,.desk-wall-name-plates img{
	width:200px;
	height:inherit; 
}
.pin-cahtwith-text{
	text-align:center !important; 
	font-size:16px;
}
#navigationBottomRight {
    width: 50% !important;
	text-align:left;
}
.logrighttext{
	color: #e4e4e4;
    font-family: arial;
    font-size: 13px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#testimonialsContainer h3{
	font-size:16px;
}
.header-activated-button{
	width:auto !important;
	top:15px;
}
.header-activated-button img{
	width:100px;
	height:inherit;
}
.customerpanel2-radiooutre{
	width:100%;
	padding-left:0px;
}
.customerpanel5-color{
	width:58px !important;
}
h2{
	font-size:16px;
}

}
@media only screen and (max-width : 359px){
.desktopknone-mobiletext{
	font-size:8px;
}

}

